.redes-contacto {
  width: 100%;
  background-image: linear-gradient(135deg, #3d418d, black);
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  flex-wrap: wrap;
  font-size: 16px;
}

.redes-sociales1 {
  display: flex;
  gap: 15px;
}

.redes-sociales1 a {
  font-size: 20px;
}

/* RESPONSIVE - hasta 600px (celulares) */
@media (max-width: 600px) {
  .redes-contacto {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 14px;
    padding: 10px;
  }

  .redes-sociales1 {
    gap: 10px;
  }

  .redes-sociales1 a {
    font-size: 18px;
  }
}



.navbar-brand{
    color: rgb(6, 6, 6) !important;
}

.navbar-brand:hover{
    /* background-color: #312f2f; */
    /* border-radius: 5px; */
    color:#3d418d!important;
}

.navbar-nav .nav-item .nav-link {
    transition: color 0.3s; /* Transición suave del color */
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-item .nav-link:hover {
    /* background-color: #f9f8f8; */
    border-radius: 5px;
    color: #3d418d!important; /* Cambia el color al pasar el mouse sobre el enlace */
}

/* .container-header {
    background-color: transparent !important; /* Establece el color de fondo como transparente 
} */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(59, 130, 246)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.logo{
    width: 80px;
    height: 40px;
}



