 .container-header{
    /* background-image: linear-gradient(to right, #fffffffa 0%, #060606 100%); */
    background-color:#591414;
    padding: 0;
    margin: 0;

} 
.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    background-color: #f9f8f8;
    border-radius: 5px;
    color: #090909;
}

.navbar-nav .nav-item .nav-link {
    transition: color 0.3s; /* Transición suave del color */
    color: white;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #f9f8f8;
    border-radius: 5px;
    color: #090909; /* Cambia el color al pasar el mouse sobre el enlace */
}

/* .container-header {
    background-color: transparent !important; /* Establece el color de fondo como transparente 
} */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}



