.container-footer {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #59141497, #4286f4);
    height: auto;
    padding: 8px;
    display: flex; /* Usar flexbox */
    justify-content: space-between; /* Distribuir los elementos a lo largo del contenedor */
    align-items: center; /* Centrar verticalmente los elementos */
}

.container-footer .col-left {
    justify-content: flex-start; /* Alinear al principio */
    color: black;
}

.container-footer .col-right {
    justify-content: flex-end; /* Alinear al final */
}