/* src/components/Carrusel.css */
.carrusel {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.carrusel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrusel-item {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.item img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.carrusel-item.active {
  opacity: 1;
}

.carrusel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.carrusel-button.prev {
  left: 10px;
}

.carrusel-button.next {
  right: 10px;
} 