


 /**************************************/
 .container-about {
    background-color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.photo-about {
    max-width: 100%; /* Haz que la imagen sea responsiva */
    height: auto;
    border-radius: 25px;
}
.photo-main {
    max-width: 70%; /* Haz que la imagen sea responsiva */
    height: auto;
    border-radius: 25px;
}

.title-about {
    font-size: 40px; /* Reducir el tamaño del título */
    text-align: left;
    color: #050505;
}

.title-main {
    font-size: 40px; /* Reducir el tamaño del título */
    text-align: left;
    color: #050505;
}

.paragraph-about {
    font-size: 16px; /* Reducir el tamaño del texto */
    text-align: left;
    color: rgb(42, 41, 41);
}

.paragraph-main{
    font-size: 16px; /* Reducir el tamaño del texto */
    text-align: left;
    color: rgb(42, 41, 41);
}

.left-about {
    padding-left: 10px;
    padding-right: 10px; /* Agregar un espacio alrededor del contenido */
}



.right-about {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.custom-btn-primary {
    background-color:  #3B82F6;
    border-color:#3B82F6; /* Borde del mismo color */
    color: white; /* Texto en blanco */
    border-radius: 5px;
   margin-right: 10px;
    
    
}

.custom-btn-secondary {
    background-color:  #3B82F6;
    border-color:#3B82F6; /* Borde del mismo color */
   
    color: white; /* Texto en blanco */
    border-radius: 5px;
}

.custom-btn-primary:hover, .custom-btn-secondary:hover {
    background: #93C5FD;
    border-color: #93C5FD; /* Borde del mismo color */
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {

    .left-main {
     
        padding-left: 70px !important;
        padding-right: 10px; /* Agregar un espacio alrededor del contenido */
    }
  
}

/*============Educacion===============*/
section>.container-educacion{
    margin-top: 50px;
}

.formacion{
    background: #f2f2f2;   
}
.container-educacion{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.educacion {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los elementos */
  }
  
  .cont-expert {
    flex: 1 1 200px; /* Ajusta el valor según sea necesario */
    text-align: center;
  }
   
   .cont-expert img{
       width:50%;
       display:block;
       margin: 0 auto;
       border-radius: 50%;
   }
   .n-expert{
       display:inline-block;
       margin-top: 20px;
       width:100%;
       font-weight: 400;
   }
   
   .parrafo{
       font-size: 13px;
       color: #6d6c6c;
   }