 /**************************************/
 .container-about {
    background-color: white;
    padding-top: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.photo-about {
    max-width: 100%; /* Haz que la imagen sea responsiva */
    height: auto;
    border-radius: 25px;
    background-color: #00ffff;
}
.photo-main {
    max-width: 90%; /* Haz que la imagen sea responsiva */
    height: auto;
    border-radius: 25px;
}

.title-about {
    font-size: 40px; /* Reducir el tamaño del título */
    text-align: left;
    color: #050505;
}

.title-main {
    font-size: 40px; /* Reducir el tamaño del título */
    text-align: left;
    color: #fbf7f7;
}

.paragraph-about {
    font-size: 16px; /* Reducir el tamaño del texto */
    text-align: left;
    color: rgb(42, 41, 41);
}

.paragraph-main{
    font-size: 16px; /* Reducir el tamaño del texto */
    text-align: left;
    color: rgb(42, 41, 41);
}

.left-about {
    padding-left: 10px;
    padding-right: 10px; /* Agregar un espacio alrededor del contenido */
}



.right-about {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.custom-btn-primary {
    background-color:  #3B82F6;
    border-color:#3B82F6; /* Borde del mismo color */
    color: white; /* Texto en blanco */
    border-radius: 5px;
   margin-right: 10px;
    
    
}

.accordion-button{
    background-image: linear-gradient(135deg,black, #3d418d) !important;
    color: #f5f5f5 !important;
}



.custom-btn-secondary {
    background-color:  #3B82F6;
    border-color:#3B82F6; /* Borde del mismo color */
   
    color: white; /* Texto en blanco */
    border-radius: 5px;
}

.custom-btn-primary:hover, .custom-btn-secondary:hover {
    background: #93C5FD;
    border-color: #93C5FD; /* Borde del mismo color */
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.btn1 {
    margin-right: 5px;
    padding-left: 5px;
    border-radius: 30px;
    border-color: #3d418d;
    padding: 10px;
    background-color: #3d418d;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn1:hover {
    background-color:#54ccd3;
    border-color: #3d418d;
 
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {

    .left-main {
     
        padding-left: 70px !important;
        padding-right: 10px; /* Agregar un espacio alrededor del contenido */
    }
  
}

/*============Educacion===============*/
section>.container-educacion{
    margin-top: 50px;
}

.formacion{

    background-image: linear-gradient(135deg, #3d418d, black);

}
.container-educacion{
    width: 100%;
    margin: auto;
    padding-top: 20px;
}

.educacion {
    display: flex;
    flex-wrap: wrap;
    gap: 1px; /* Espacio entre los elementos */
  }
  
  .cont-expert {
    flex: 1 1 200px; /* Ajusta el valor según sea necesario */
    text-align: center;
  }
   
   .cont-expert img{
       width:30%;
       display:block;
       margin: 0 auto;
       border-radius: 50%;
   }
   .n-expert{
       display:inline-block;
       margin-top: 20px;
       width:100%;
       font-weight: 400;
   }
   
   .parrafo{
       font-size: 13px;
       color: #d0cece;
   }

   .titule-about{
    color: #3d418d;
   }

   .exclamacion-about{
    color:#54ccd3;
   }

   .subtitulo{
    color:#54ccd3;

   }

   .titulo-formacion{
    color:#ffffff;

   }

   /* Para los botones de las pestañas */
.nav-pills .nav-link {
    display: block;
    text-align: left;
    padding-left: 15px;
    border-radius: 0;
}

.nav-pills .nav-link.active {
 
    background-image: linear-gradient(135deg, #3d418d, black);
    color: white;
}

.nav-pills .nav-link {
    color: rgb(0, 0, 0);
}

/* Para los elementos de contenido */
.tab-content .row .col-sm-6 {
    list-style: none;
    padding-left: 30px;
    margin-bottom: 10px;
    /* border-left: 3px solid #54ccd3; */
    position: relative;
}

.tab-content .row .col-sm-6 h6 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.tab-content .row .col-sm-6 p {
    font-size: 0.875rem;
    color: #6c757d;
    margin-bottom: 0;
}

.list{
    font-size: 10px;
}

/* .tab-content .row .col-sm-6:before {
    content: "\2022";
    color: #007bff;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 5px;
} */