.card-container,
.card-container1 {
    display: flex;
    flex-direction: column;
    background-color: #5b5d5d;
    border-radius: 10px;
    padding: 0;
    position: relative;
    overflow: hidden;
    

}

.card-container:hover .card_hover,
.card-container1:hover .card_hover {
    transform: translate(0%);
}

.card {
    position: relative;
}

.card_hover {
    position: absolute;
    padding: 4px;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.523), rgba(255, 0, 0, 0.463));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    font-size: 10px;
    align-items: center;
    display: flex;
}

.card_hover .boton1 {
    margin: auto; /* Esto centrará verticalmente */
}

.project-image {
    border-radius: 15px;
}

.boton1 {
    padding: 10px 30px;
    background-color: #5f5e5e;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;}

.boton1:hover {
    padding: 10px 30px;
    background-color: #05050577;
    color: rgb(248, 246, 246);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.colorr {
    color: black;
}