body, html {
  margin: 0;
  padding: 0;
  height: 100%;

   margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f8f8;
  color: #2b2a2a;
}

.grid-container > * {
  /* box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); */
  border-radius: 4px;
  padding: 0px;
  text-align: center;
   /* height: 100vh;  */

}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 1fr 8fr 1fr; /* Header, Content y Footer ocupan su altura natural, el Content ocupa el espacio restante */
  height: 100vh;
  width: 100%;
  background-color:#ffffff;
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  box-sizing: border-box; /* Incluir padding y border en el tamaño total */
}


.header {
  grid-area: header;
  background-color: blue;
}

.content {
  grid-area: main;
  background-color: blueviolet;

  overflow-y: auto;
}

.footer {
  grid-area: footer;
  background-color: brown;
}